<mat-toolbar color="primary" class="top-navbar">
  <span class="spacer" [fxHide.gt-sm]="true"></span>

  <img style="height: 48px;margin: auto 12px;" src="assets/plain-logo.svg">
  Mobility2Consumer
  <span class="spacer"></span>
  <span [fxHide.lt-md]="true" *ngIf="(menu | async) as menus">
    <button *ngFor="let m of menus" mat-flat-button color="primary" [routerLink]="[m.link]"
            [routerLinkActive]="['mat-accent']"
            [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>{{m.icon}}</mat-icon>
      {{m.text}}
  </button>
  </span>
</mat-toolbar>

<button class="main-button" mat-fab [fxHide.lt-md]="true" *ngIf="(add | async)">
  <mat-icon>add</mat-icon>
</button>
<ng-container *ngIf="(menu | async) as menus">

  <mat-toolbar color="primary" [fxHide.gt-sm]="true" class="bottom-navbar" *ngIf="menus.length > 0">
    <button class="main-button-mobile" ngClass.gt-sm="main-button" mat-fab *ngIf="(add | async)">
      <mat-icon>add</mat-icon>
    </button>

    <button *ngFor="let m of menus; let i = index" mat-flat-button color="primary" [routerLink]="[m.link]"
            [routerLinkActive]="['mat-accent']"
            [routerLinkActiveOptions]="{exact: true}" style="flex:1">
      <mat-icon>{{m.icon}}</mat-icon>
    </button>
  </mat-toolbar>
</ng-container>

