.spacer {
  flex: 1 1 auto;
}

.bottom-navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.bottom-navbar button {
  height: 100%;

}

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  z-index: 10;
  top: 0;
}

.bottom-navbar button {
  margin: 0;
  z-index: 10;
}

.center-button .mat-icon {
  height: 64px;
}

.main-button-mobile {
  position: absolute;
  bottom: 20px;
  margin: auto;
  z-index: 15 !important;

}

.main-button-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 70px 32px;
  z-index: 15 !important;
}

.main-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 32px;
  z-index: 15 !important;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center
}
