<mat-toolbar color="primary" class="top-navbar">
  <span class="spacer" [fxHide.gt-sm]="true"></span>
  <div class="logo-container">

    <img style="height: 48px;margin: auto 12px auto auto" src="assets/plain-logo.svg">

    <h1>Mobility2Consumer</h1>
  </div>
  <span class="spacer"></span>
  <span [fxHide.lt-md]="true" *ngIf="(menu | async) as menus">
        <ng-container *ngFor="let m of menus">
    <button *ngIf="m.icon !== ''" mat-flat-button color="primary" [routerLink]="[m.link]"
            [routerLinkActive]="['mat-accent']"
            [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>{{m.icon}}</mat-icon>
      {{m.text}}
  </button>
        </ng-container>
  </span>
</mat-toolbar>

<a href="tel:+390123456789">
  <button class="main-button-mobile" ngClass.gt-sm="main-button" mat-fab *ngIf="(add | async)"
          [matTooltip]="'Contact us!'">
    <mat-icon>call</mat-icon>
  </button>
</a>
<ng-container *ngIf="(menu | async) as menus">

  <mat-toolbar color="primary" [fxHide.gt-sm]="true" class="bottom-navbar" *ngIf="menus.length > 0">
    <ng-container *ngFor="let m of menus">
      <div class="spacer" *ngIf="m.icon === ''"></div>
      <button *ngIf="m.icon !== ''" mat-flat-button color="primary" [routerLink]="[m.link]"
              [routerLinkActive]="['mat-accent']"
              [routerLinkActiveOptions]="{exact: true}" style="flex:1">
        <mat-icon>{{m.icon}}</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
</ng-container>

