<mat-toolbar color="primary">
  <span class="spacer"  [fxHide.gt-xs]="true"></span>
  Mobility2Consumer
  <span class="spacer"></span>
  <span [fxHide.lt-sm]="true">
    <button mat-flat-button color="primary">
      <mat-icon>home</mat-icon>
      Main Website
    </button>
    <button mat-flat-button color="primary">Example 1</button>
    <button mat-flat-button color="primary">Example 2</button>
  </span>
</mat-toolbar>

<mat-toolbar color="primary" [fxHide.gt-xs]="true" class="bottom-navbar">
  <button mat-flat-button color="primary">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-flat-button color="primary">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-flat-button color="primary">
    <mat-icon>call</mat-icon>
  </button>
  <button mat-flat-button color="primary">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-flat-button color="primary">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
