<div class="container main-topic">
  <div class="text-container">
    <h1>Rent</h1>
  </div>
  <mat-card class="main-content stores-container">
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Let us know who will rent the product!</ng-template>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First name" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last name" formControlName="lastName" required>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Contact Phone</mat-label>
              <input matInput placeholder="Contact Phone" formControlName="phone" required>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Birthday</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="birthday">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button matStepperNext color="accent">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>What do you want to rent?</ng-template>
          <h2>Pick your selection:</h2>
          <div class="form-row">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteSeason"
              formControlName="rentObject">
              <mat-radio-button class="example-radio-button" *ngFor="let season of rents" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="margin: 8px auto">Product Selected: {{favoriteSeason}}</div>
          <div>
            <button mat-raised-button matStepperNext color="accent">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="detailsFormGroup">
        <form [formGroup]="detailsFormGroup">
          <ng-template matStepLabel>When do you need the service</ng-template>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker3" placeholder="Date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Hour</mat-label>
              <input matInput placeholder="Hour" value="00:00" formControlName="clock">
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button matStepperNext color="accent">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" (load)="initialize_map()">
          <ng-template matStepLabel>Select the delivery point</ng-template>
          <h2>Delivery point</h2>
          <div id="map-start" class="map"></div>
          <div style="margin-top: 8px">
            <button mat-raised-button matStepperPrevious color="accent" style="margin-right: 8px">Back</button>
            <button mat-raised-button matStepperNext color="accent">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Confirm your order</ng-template>
        <a [routerLink]="['/user/orders']">
          <button mat-raised-button color="primary" style="margin-right: 8px">Confirm and Pay</button>
        </a>
        <div style="margin-top: 8px">
          <button mat-raised-button matStepperPrevious color="accent" style="margin-right: 8px">Back</button>
          <button mat-raised-button matStepperNext color="accent" (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
  <div ngClass.lt-md="blank-space"></div>

</div>
