@import "src/variables";

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.form-row {
  align-items: center;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.form-row mat-form-field {
  max-width: 300px;
  width: 100%;
  margin: auto 8px;
}

.map {
  min-height: 300px;
}

.main-content h1 {
  margin-top: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  color: $primary;
}


.main-content h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  color: $accent;
}
hr {
  color: $accent;
  margin: 2px;
}


.main-button-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 70px 32px;
  z-index: 15 !important;
}

.main-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 32px;
  z-index: 15 !important;
}
