<mat-card class="main-content image-card-mobile" ngClass.gt-sm="image-card"
          [style.background-image]="'url(' + image + ')'">
  <div class="text-section">
    <div class="title">{{title}}</div>
    <div class="subtitle">{{subtitle}}</div>
  </div>
  <div class="logo-section" fxHide.lt-md="true">
    <img height="200px" width="200px" src="assets/plain-logo.svg">
  </div>
  <div class="logo-section-mobile" fxHide.gt-md="true">
    <img height="100px" width="100px" src="assets/plain-logo.svg">
  </div>
</mat-card>
