@import 'src/variables';

.text-container h1 {
  font-weight: bold;
  font-size: 32px;
  color: $primary;
}

.stores-container h2 {
  font-weight: bold;
  color: $accent;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 22px;
}

.stores-list {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stores-list img {
  width: 70%;
  height: auto;
}

.store-element {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 24px 24px
}


.question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px !important;
  text-align: center;
  color: $primary;
}

.title-mobile {
  font-weight: bold;
  line-height: 1.5;
  font-size: 18px;
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
  color: $primary;
}

.subtitle-mobile {
  font-size: 12px;
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 14px;
}

.logo-mobile {
  user-select: none;
  display: flex;
  justify-content: space-around;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.logo {
  width: 100px;
  height: 100px;
}

.phone-mobile {
  font-weight: bold;
}

.button-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.store-element button {
  color: $accent;
}
