/* You can add global styles to this file, and also import other style files */
@import "src/variables";

html, body { height: 100%;  background-color: $bg}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  max-width: 1024px;
  margin: auto;
}

.main-content {
  margin: 16px;
}

.main-topic {
  margin: 76px auto 80px auto;
}

.text-container {
  margin: 16px;
}
h1 {
  font-family: 'Montserrat', sans-serif !important;
}
