<div class="container main-topic">
  <app-header-image [image]="'assets/img/mani.jpg'" title="Mobility2Consumer"
                    [subtitle]="'The safest service to move you and everything you want'">
  </app-header-image>

  <app-button-choice *ngIf="(this.answers | async) as answers" [answers]="answers"
                     [question]="'Who are you?'"></app-button-choice>
  <mat-card class="main-content">
    <h1>Objective</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet vitae turpis quis imperdiet. Sed eget
      laoreet purus. Suspendisse potenti. Pellentesque tincidunt sapien sed nulla vehicula, a interdum urna semper.
      Vivamus tincidunt ipsum ac sagittis varius. Pellentesque ligula orci, euismod a quam in, ornare vehicula mi.
      Aenean
      eget orci ut nibh tempor maximus. Aliquam sodales iaculis odio a hendrerit. Pellentesque sodales, enim sed
      fermentum
      porta, erat odio ullamcorper dui, ut tempor mi magna non ex. Vestibulum aliquet dolor dapibus ex vulputate
      pharetra.
      Curabitur pretium id nulla ac condimentum. Fusce eu gravida lectus, a consectetur enim. Donec consectetur elit
      quis
      tellus porta, quis pulvinar lorem egestas. Ut sem est, suscipit vitae leo nec, ultricies lacinia nulla.
    </p>
    <h1>Second Header</h1>
    <p>
      Sed ac diam eget ante efficitur efficitur. Aliquam quis enim lobortis, convallis metus ut, faucibus mi. Quisque
      quis
      lectus tempor, imperdiet ante non, porttitor erat. Fusce tincidunt et mauris eget porta. Mauris nibh tortor,
      auctor
      et maximus id, vestibulum ut nunc. Maecenas mollis suscipit porttitor. Nam rhoncus purus vitae rutrum maximus. Sed
      eget tellus at urna lobortis vulputate. Suspendisse tristique ultricies laoreet. Morbi in gravida orci.
    </p>
    <h1>Third Header</h1>
    <p>
      Sed tempor, purus sed ultrices lacinia, nisi arcu porttitor sem, ut finibus lorem eros egestas nulla. Vestibulum
      eget est mauris. Mauris auctor nulla neque, a accumsan magna imperdiet quis. Phasellus tempor vehicula sem.
      Phasellus odio nibh, finibus quis orci sit amet, accumsan consequat tellus. Donec non mauris dui. Proin a
      porttitor
      eros, ac efficitur ipsum. Vestibulum imperdiet nibh a velit suscipit, at aliquet nulla viverra. Etiam magna purus,
      auctor at venenatis eget, tincidunt sit amet sem. Maecenas magna erat, porta vel consectetur quis, pharetra nec
      lectus. Curabitur efficitur diam eget varius ultricies. Morbi id pulvinar leo, vitae gravida ante.
    </p>

    Aenean vel ante tristique, cursus lacus at, tempus libero. Donec diam arcu, dapibus sit amet facilisis nec, finibus
    quis ligula. Nulla tempus convallis rhoncus. Curabitur eu dapibus urna. Phasellus sollicitudin sollicitudin
    consequat. Mauris hendrerit pellentesque massa quis tincidunt. Duis vitae nisl at elit maximus consectetur. Duis
    consectetur mattis tortor a hendrerit. Maecenas quis ipsum ligula. Morbi a purus porta, ultricies justo eu, feugiat
    enim. Praesent tempor non nibh eget tincidunt. Sed at justo ac sapien maximus rutrum in eget dui. Donec sit amet
    lorem lacus. Nunc eget lacus consectetur, porta turpis eget, suscipit odio. Donec vitae laoreet enim, sollicitudin
    fermentum dui. Etiam pulvinar erat a urna tristique efficitur.

    Curabitur porttitor pulvinar nibh, sed tincidunt nibh finibus vel. Duis dui diam, ornare ut maximus in, sodales ut
    ipsum. Nam eget turpis odio. Curabitur convallis sit amet velit accumsan porttitor. Sed sit amet tortor eu ligula
    tincidunt euismod. Praesent nec ex nunc. Pellentesque elementum mollis nisi non pretium. Nunc malesuada lacus augue,
    ut congue velit aliquam nec. Vestibulum scelerisque, erat a pulvinar interdum, metus tellus dignissim nisl, ac
    ullamcorper urna felis eu ex. Cras magna erat, vestibulum vitae tincidunt in, aliquam vitae turpis. Quisque vitae
    ligula vitae sem interdum rhoncus volutpat eu urna. Sed vulputate, est at cursus elementum, lorem felis rutrum mi,
    eget volutpat urna sem ut lectus. Phasellus ac lorem laoreet, efficitur sem quis, efficitur nibh. Quisque efficitur
    viverra aliquet.
  </mat-card>
</div>
