<div class="container main-topic">
  <app-header-image [image]="'assets/img/mani.jpg'" title="Mobility2Consumer"
                    [subtitle]="'The safest service to move you and everything you want'">
  </app-header-image>

  <app-button-choice *ngIf="(this.answers | async) as answers" [answers]="answers"
                     [question]="'Who are you?'"></app-button-choice>
  <mat-card class="main-content">
    <img width="100%" src="assets/img/view1.png">
    <img width="100%" src="assets/img/view2.png">
  </mat-card>
</div>
